*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}
/* menu items */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #f3f3f3;
    color: #383e4d;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 17.5px;
    width: 100%;
    z-index: 1;
  
  }
  
  .left-menu {
    display: flex;
    align-items: center;
    margin: 5px;
  }
 
  .logo img {
    width: 219px;
    height: 32px;
    margin-left: 40px;
    margin-top: 8px;
  }

  .menu-items {
    display: flex;
    margin-left: 20px;
  }
   .menu-item{
    color: #404d38;
    padding: 10px;
    text-decoration: none;
    margin-right: 5px;
    
  }
  .menu-item:hover{
    color: #40bdd7;

  }
  
  .right-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a.menu-item.get-started {
    border: 2px solid;
    border-radius: 25px;
      margin: 10px;
      padding: 6px;
  
}
.get-started:hover{
  background-color: black;
  color: whitesmoke;
  
}
  .fa-solid.fa-cart-shopping,
  .fa-regular.fa-circle-user {
    margin-left: 10px;
    width: 20px;

  }
  .fa-solid.fa-cart-shopping:hover{
    color: rgb(38, 160, 44);

  }
  .fa-regular.fa-circle-user:hover{
    color: rgb(38, 160, 44);

  }

  .home-page {
    background-color: #f2f2f2;
    display: flex;
    padding: 20px;
    
   
  }
  
  .home-page-text {
    width: 49%;
    margin-top: 60px;
    margin-left: 150px;
  }
  
  .home-page-text h1 {
    font-size: 40px;
   }
   .border-line{
    display: flex;
    font-size: 35px;
    line-height: 20px;
    padding-left: 5px;
    
   }
   .border-line-large{
    border-bottom: 3px solid #000;
    width: 150px;
   }
   span.border-line.one {
    color: orange;
}
span.border-line.two {
  color: skyblue;
}
span.border-line.three {
  color: darkblue;
}
  
  .home-page-text h2 {
    font-size: 25px;
    line-height: 50px;
  }
  
  .home-page-text span {
    color: #9693ad;
    font-weight: bold;
  }
  
  .home-button {
    margin-top: 20px;
    margin-left: 20px;
   
  }
  
  .btn {
    display: inline-block;
    text-align: center;
    width: 150px;
    padding: 8px 24px;
    margin-right: 10px;
    margin:20px ;
    border-radius: 25px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  
  }
  
  .blue-button {
    background-color: #40bdd7;
    color: #fff;
  }
  
  .black-border-button {
    
    border: 1px solid #000;
    color: #000;
  }
  .blue-button:hover{
    background-color: #0d92ad;

  }
  .black-border-button:hover{
    background-color: black;
    color: whitesmoke;
  }
  .home-page-image{
    width: 49%;
  }
  .home-page-image-right{
    
    max-width: 100%;
    
  }

 /* container */
 .container{
  margin: 50px;
 }
 .statistics-section{
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  

  
 
}
.statistics{

  width: 30%;
  box-shadow: 0 10px 20px 5px rgba(0,0,0,0.1);
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  
  
}
.statistics-img{
  margin-top: 10px;
  padding: 15px;
}
 /* business-section */
 .business-section{
  margin: 50px;
 }
 .business-title{
  text-align: center;
  font-size: 50px;
  font-weight: 50;
 }
 .business-data{
  display: flex;
  margin-left: 50px;
 }
 .stats {
  width: 33%;
  margin-top: 30px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.stats-title {
  margin-top: 20px;
  margin-bottom: 25px;
}
 .stats-img{
  
  max-width: 100%;
 }
 .all-service-button {
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  margin-top: 40px;

}
.btn-black-border-button{
  border: 2.5px solid black;
  border-radius: 50px;
  padding: 12px 38px 12px 38px;
  color: #000;

}
.btn-black-border-button:hover{
  background-color: #000;
  color: whitesmoke;
}

/* data section */

.whynopcommerce-section{
  margin: 80px;
}
.whynopcommerce-title{
  text-align: center;
  font-size: 50px;
  font-weight: 50;

}
.whynopcommerce-data{
  display: flex;

}
.data{
  width: 25%;
  margin-top: 30px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;

}
.data-image{
 max-width: 100%;
 max-height: 250px;

}

.data-title {
  margin-top: 20px;
  margin-bottom: 25px;
}

.dev-store{
  display: flex;
  width: 100%;
 
  
}
.developer-section {
  width: 49%;
  text-align: center;
  line-height: 25px;
  font-size: 30px;
  padding: 24px;
  margin-left: 50px;
  margin-top: 25px;
}
.vertical-line{
border-left: 3px solid #efe6e6;
height: 200px;
margin-top: 35px;
}


.store-section {
  width: 49%;
  text-align: center;
  line-height: 25px;
  font-size: 30px;
  padding: 21px;
  margin-right: 50px;
  margin-top: 29px;
}
.developer-link{
  color: #000;
}

.store-link{
  color: #000;
}
.developer-image{
  margin-bottom: 15px;
}
.developer-title {
  font-weight: 600;
  margin-bottom: 25px;
}
.store-title {
  font-weight: 600;
  margin-bottom: 25px;
}
i.fa-solid.fa-angle-down {
  color: darkorange;
  font-size: 40px;
}




.main-title {
  text-align: center;
  margin: 100px;
  font-size: 29px;
}
h2.clientheading {
  position: relative;
  top: 35px;
}
.main-1{
  margin: 20px 100px 0px 100px;
  }
.main-1-title{
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  font-family: sans-serif;
  margin: 40px 0px 157px 0px;
}
.main-1-items{
  display: flex;
  justify-content: space-between;

}

.item{
  width: 43%;
  height: 500px;
  background-color:#f8f8f8;
  position: relative;
  padding: 100px 26px 0px 35px;

}
.client-site{
     background-color: white;
     box-shadow: -3px 0px 5px 2px #8080805c;
     position: absolute;
     left: 97px;
     bottom: 443px;
 
}
.microsoft-logo{

  width:215px ;
  height: 110px;
 } 
.imgbox{
  width: 150px;
  height: 180px;
  background-color: red;
  align-items: end;
}

img.microsoft-logo {
  position: absolute;
  bottom: 110px;
  left: 79px;
}
.ScottHunter{
  float: right;
  margin-top: -199px;
  border: 6px solid white;
  box-shadow: -3px 0px 5px 2px #8080805c;
  margin-right: -19px;


}
.ScottHunter-img{
  width: 283px;
  height: 300px;
  
}
.item-content, .item-content1{
  font-size: 19px;
  font-family: sans-serif;
  line-height: 34px;
}
.item-content1{
  width: 90%;
}
.client-detail{
  margin-top: 60px;
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
  width: 346px;
  line-height: 22px;
}



/* .testimonials-container {
  display: flex;
  justify-content: space-between;

}

.item {
     width: 35%;
    position: relative;
    height: 500px;
    padding: 100px 25px 0px 35px;

} */


/* .testimonials-container {
  display: flex;
}
.testimonials-subcontainer {
    width: 31%;
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.1);
    border-radius: 50px;
    margin: 14px;
    text-align: center;
}
.testimonials-image{
 
  margin: 45px;
  margin-right: 46px;

}
img.test-img {
  max-width: 100%;
  max-height: 370pxphera;
}
.testimonials-subtext {
  font-size: 18px;
  line-height: 30px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
.line {
  border-bottom: 3px solid;
  width: 129px;
  margin-left: 40px;
  margin-top: 20px;
}
.testimonials-details {
  font-size: 18px;
  margin: 28px;
  line-height: 26px;
  font-weight: 600;
  text-align: start;
  margin-left: 40px;
} */

.home-page-clients {
  background-color: #f1eaea;
}
.clientlogo {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}
.clientimage {
  width: 25%;
  line-height: 200px;
}
i.fa-solid.fa-plus {
 font-size: 35px;
  font-weight: 100;
  float: inline-start;
  position: relative;
  top: -100px;
}

.view-more-button {
  text-align: center;
  margin-top: 50px;
  position: relative;
    top: -55px;

}

.all-services-data {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  line-height: 127px;
  justify-content: space-between;
  align-items: center;
  margin: 0 15%;
}


.Services-item{
  width: 25%;
}

.all-service-container img {
  width: 80%;
}



.all-service-button-two {
  text-align: center;
  font-size: 40px;
  cursor: pointer;

}
a.btn-black-border-button-two:hover {
  background-color: #000;
  color: whitesmoke;
}

.btn-black-border-button-two {
  border: 2.5px solid black;
  border-radius: 50px;
  padding: 11px 20px 11px 20px;
  color: #000;
  
}

.try-container {
  text-align: center;
  margin: 30px;
  margin-top: 100px;
  line-height: 60px;
}
h2 {
  width: -2px;
  font-size: 33px;
  color: #343232;
  font-weight: 100;
}

button.button.button1 {
  width: 182px;
  line-height: 44px;
  background-color: #39cae7;
  font-size: 18px;
  border-radius: 50px;
  color: white;
  margin: 15px;
  padding: 2px;
  border: none;
}
button.button.button1:hover {
  /* color: #087b93; */
  background-color: #087b93;
}

button.button.button2 {
  width: 182px;
  line-height: 44px;
  background-color: #39cae7;
  font-size: 18px;
  border-radius: 50px;
  color: white;
  margin: 15px;
  padding: 2px;
  border: none;
}
button.button.button2:hover {
  /* color: #087b93; */
  background-color: #087b93;
}
footer.footer {
  background-color: #363e4e;
  
}
.footer-upper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: whitesmoke;
  position: relative;
  top: 50px;

}
.footer-container{
  line-height: 30px;
  width: 20%;
}
.title {
  font-size: 32px;
}

.productline {
  border-bottom: 3px solid;
  width: 50px;
  color: #322f2f;
  margin: 12px;
  margin-left: 140px;
  
}

.product-list a{
  color: whitesmoke;
}

 a{
  color: #919eab;
  font-size: 18px;
}
.title.footer-community-title {
  margin-top: 20px;
}

.footer-lower {
  display: flex;
  justify-content: center;
}
.social{
  display: flex;
  margin-top: 100px;
}

.before-line {
  border-bottom: 3px solid #252c3b;;
  width: 250px;
  position: relative;
  top: -22px;
  margin-right: 70px;

}

.network{
  display: flex;
  flex-direction: row;
  gap:15px
  }
.after-line {
  border-bottom: 3px solid #252c3b;;
  width: 250px;
  position: relative;
  top: -22px;
  margin-left: 70px;
}

.fa-brands{
  width: 10px;
}

i.fa-brands.fa-facebook-f {
  color: white;
  border: 2px solid white;
  font-size: 29px;
  width: 33px;
  height: 24px;
  padding: 10px 0 10px 13px;
  border-radius: 50%;
}

i.fa-brands.fa-twitter {
  color: white;
  border: 2px solid white;
  font-size: 29px;
  width: 33px;
  height: 24px;
  padding: 10px 0 10px 13px;
  border-radius: 50%;

}
i.fa-brands.fa-linkedin-in {
  color: white;
  border: 2px solid white;
  font-size: 29px;
  width: 33px;
  height: 24px;
  padding: 10px 0 10px 13px;
  border-radius: 50%;

}

i.fa-brands.fa-facebook-f:hover {
  color: #0d92ad;
  border: 2px solid #0d92ad;
}


i.fa-twitter:hover {
  color: #0d92ad;
  border: 2px solid #0d92ad;
}


i.fa-brands.fa-linkedin-in:hover {
  color: #0d92ad;
  border: 2px solid #0d92ad;
}

.footer-disclaimer {
  color: #6b7890;
  font-size: 17px;
  text-align: center;
  margin-top: 50px;
}

.footer-link {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}
a.footer-link-a {
  font-size: 13px;
  color: #6b7890;
}
.hosting-title {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  color: #6b7890;
}


.hosting-list {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 10px;
}
.hosting-pics {
  width: 6.5%;
}
.hostingpics{
  width: 90px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .menu{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

  }
  .left-menu{
    display: flex;
    flex-wrap: wrap;

  }
  .logo {
    justify-content: center;
    display: flex;
    width: 75%;
    /* text-align: center; */
}
.menu-items a{
  font-size: 16px;

}
.right-menu{
  margin: -12px 100px 1px 1px;
}
  .home-page{
    display: flex;
    justify-content: center;
    text-align: center;

  }
  .border-line{
    margin-left: 10px;
  }

  .border-line-large{
    width: 100px;
  }
  .container{
    margin: 5px;
    padding: 5px;

  }
  .statistics-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .statistics{
    width: 100%;
    font-size: 20px;
    margin: 20px 40px 20px 0px;

  }
  .business-title{
    font-size: 30px;
    font-weight: 600;

  }
  .business-section img{
    width: 100%;
  }

  .stats-title{
    font-size: 25px;
    line-height: 25px;
}
   .stats-subtext{
    font-size: 16px;
    line-height: 25px;
}
.whynopcommerce-title{
  font-size: 30px;
    font-weight: 600;
}
.whynopcommerce-section img{
  width: 100%;
}
   .data{
    line-height: 25px ;
   }
   .data-image{
    width: 100%;
   }
   .data-title{
    font-size: 18px;
   }
   .data-text{
    font-size: 15px;
   }
  .store-image{
    height: 86px;
  }
.main-1-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.client-site {
  position: relative;
  bottom: 9px;
  left: 12px;
}
.item-content{
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  width: 162px;
  position: relative;
  top: -216px;
  right: -161px;
}
.client-detail{
  position: relative;
  top: -187px;
  left: -146px;
}
.
.item{
  height: 358px;
}
.clientheading{
  font-size: 30px;
}
.clientlogo img{
  width: 80%;
  position: relative;
  left: -90px;
}
.clientlogo i{
  font-size: 20px;
}
i.fa-solid.fa-plus{
  font-size: 22px;
  color: #b9a2a2;
  position: relative;
  left: -114px;
  top: -2px;
}
.clientimage
{
  line-height: 0px;
}
.btn-black-border-button {
  position: relative;
  top: 32px;

}
.main-title{
  margin: 30px;
}
.all-services-data {
  line-height: 0px;
}
.try-container {
  margin: 0px;
  margin-top: 41px;
  line-height: 48px;
}
.try-container h2{
  font-size: 25px;
  font-weight: 600;
}

.footer-block , .title {
  font-size: 13px;
}
.product_list a{
  font-size: 15px;
}
.productline {
  width: 30px;
  margin: 12px;
  margin-left: 36px;
}

.before-line {
  width: 100px;
  right: -45px;
}
.after-line{
  width: 100px;
  left: -45px;
}
i.fa-brands.fa-facebook-f {
font-size: 21px;
width: 20px;
height: 24px;
padding: 5px 5px 5px 7px;
}
i.fa-brands.fa-twitter {
  font-size: 21px;
width: 20px;
height: 24px;
padding: 5px 5px 5px 7px;
}
i.fa-brands.fa-linkedin-in {
  font-size: 21px;
  width: 20px;
  height: 24px;
  padding: 5px 5px 5px 7px;
}
.footer-disclaimer{
  font-size: 13px;
}
a.footer-link-a {
  font-size: 11px;
}
.hosting-title{
  font-size: 18px;
}
.hosting-pics   {
  width: 100%;
}
.hostingpics {
  width: 94%;
}
}

/* 
Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 990px){

  .logo img {
    width: 100%;
    height: 25px;
    margin-left: 22px;
    margin-top: 3px;
}
.menu-items {
  margin-left: 36px;
}
a.menu-item {
  font-size: 13px;
  
}
.left-menu{
  width: 60%;
}
.right-menu{
  width: 27%;
}
.home-page-text {
  margin-left: 125px;
}
.home-page-image {
  width: 38%;
}
.statistics-section {
  margin-right: 75px;
}
.business-data {
  margin-right: 50px;
}
.whynopcommerce-data{
  margin-right: 40px;
}
.data img{
  width: 100%;
}
.developer-section {
  width: 45%;
 }
 .main-1 {
  margin: 26px 153px 2px 62px;
}
.client-detail {
  margin-top: 75px;
}
img.microsoft-logo {

  left: -49px;
}
h2.clientheading {
  
  left: -72px;
}

.clientlogo {
  display: flex;
  flex-wrap: wrap;
  margin-left: 125px;
  margin-right: 125px;
}
.btn-black-border-button {

  left: -44px;
  position: relative;
}
.productline{
  margin-left: 110px;
}
.hosting-pics {
  width: 8.5%;
}
.hostingpics {
  width: 100px;
}
}
 


/* 
Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  
    
} 



/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

} 








